.header:focus {
    outline: none;
}
.bruker-info-skjema {
    background-color: #ffeccc;
    padding: 1rem;
    margin-bottom: 1rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sub-form > form {
    padding: 0 1rem;
}

.sub-form > form > slot {
    display: flex;
    flex-direction: row;
}

.header {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.5rem;
    margin: 0;
    font-family: Source Sans Pro, Arial, sans-serif;
    color: #262626;
}
