.content {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    max-width: 100vw;
    margin: auto;
    background-color: #cce2f0;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
}
.color-container {
    background-color: #e0e3e6;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: left;
}
.undertittel {
    display: flex;
    align-items: stretch;
    margin: auto;
    width: 50%;
    font-size: 24px;
    text-align: left;
    font-weight: bold;
}
.info-container {
    display: flex;
    align-items: stretch;
    margin: auto;
    width: 50%;
    padding-bottom: 2rem;
}
.welcomeName {
    flex-grow: 3;
}
.alerts {
    display: flex;
    align-items: stretch;
    width: 50%;
}
.alert {
    padding: 0.2rem;
    display: block;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    max-width: 50%;
    margin: auto;
}
.container-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    max-width: 50%;
    margin: auto;
    padding-top: 2rem;
}
.box-elements {
    padding: 2px;
}
.box {
    flex-grow: 1;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 2.5rem;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    /* box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1); */
    /* border: 0.5px solid #cbcfd5; */
}
.box:hover {
    background-color: #99c4dd;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    /* border: 0.5px solid #99c4dd; */
}
.box-small {
    flex-grow: 1;
    margin: 0rem;
    padding: 1.5rem;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    /* box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1); */
    /* border: 0.5px solid #cbcfd5; */
}
.box-small:hover {
    background-color: #99c4dd;
    cursor: pointer;
    transition: 0.3s;
    /* border: 0.5px solid #99c4dd; */
}
.box img {
    width: 3.5em;
    height: 3.5em;
}
.box-small img {
    width: 2em;
    height: 2em;
}
p {
    font-size: large;
}
.margin {
    margin-right: 1rem;
}
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        width: 100vw;
        max-width: 100vw;
        margin: auto;
    }
    .container-bottom {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        width: 100vw;
        max-width: 100vw;
        margin: auto;
    }
    .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .welcomeName,
    .welcomeAlerts {
        max-width: 100%;
        text-align: center;
    }

    .alerts {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .alert {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }
    .content {
        padding: 0rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: auto;
    }
    .box-small {
        width: 100vw;
        margin: 0.5rem;
    }
    .box {
        width: 100vw;
        margin: 0.5rem;
    }
    .box-elements {
        padding: 0px;
    }
    .undertittel {
        margin: 0.5rem;
        width: 100%;
    }
}
