
# profiles
# ----------------------------------------------------------------------------------------
**/profiles/*

# lwc config
**/jsconfig.json


# NOTE!! USE **/ before
!**/unpackagable/profiles/* 
# NOTE!! USE **/ before


# standard fields not needed in source control
# ----------------------------------------------------------------------------------------
**/objects/Account/fields/ChannelProgramLevelName.field-meta.xml
**/objects/Account/fields/ChannelProgramName.field-meta.xml
**/objects/Account/fields/CleanStatus.field-meta.xml
**/objects/Account/fields/DandbCompanyId.field-meta.xml
**/objects/Account/fields/DunsNumber.field-meta.xml
**/objects/Account/fields/NaicsCode.field-meta.xml
**/objects/Account/fields/NaicsDesc.field-meta.xml
**/objects/Account/fields/OperatingHoursId.field-meta.xml
**/objects/Account/fields/Tradestyle.field-meta.xml
**/objects/Account/fields/YearStarted.field-meta.xml
**/objects/Contact/fields/CleanStatus.field-meta.xml
**/objects/Account/fields/AccountSource.field-meta.xml


# flexipages
# ----------------------------------------------------------------------------------------
**/flexipages/LightningService_UtilityBar.flexipage-meta.xml


# translations
# ----------------------------------------------------------------------------------------
**/translations/en_US.translation-meta.xml
**/objectTranslations/*-en_US
!**/objectTranslations/Opportunity-en_US
!**/objectTranslations/CustomOpportunity__c-en_US


# Other packages
# # ----------------------------------------------------------------------------------------
**/CustomOpportunity__c.object-meta.xml
**/AsyncRequest__c*
**/listViews/NAV_Ansatte_*
**/listViews/queue_*
**/INT_*
**/workflows/CustomOpportunity__c*
**/workflows/Contract__c*
**/layouts/CustomOpportunity__c-Custom Opportunity Layout.layout-meta.xml

# VS Code
# ----------------------------------------------------------------------------------------

.vscode/*
!.vscode/usersnippets/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# SSDX Helper
# ----------------------------------------------------------------------------------------
**/.ssdx/
run.command
run.cmd
install.cmd
.packageKey
**/deployment_tmp*
**/dummy-data/*.out/*


# SFDX
# ----------------------------------------------------------------------------------------

# Salesforce cache
.sfdx/
.sf/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

.localdevserver


# jetbrains
# ----------------------------------------------------------------------------------------

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# illuminated cloud
.idea/**/illuminatedCloud.xml
.idea/**/*.iml
.idea/**/modules.xml
IlluminatedCloud
out

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

# Standard fields and other items that are reportet as changes, but are not
force-app/main/default/objects/Event/Event.object-meta.xml
force-app/main/default/objects/Event/fields/ActivityDate.field-meta.xml
force-app/main/default/objects/Event/fields/ActivityDateTime.field-meta.xml
force-app/main/default/objects/Event/fields/Attendees.field-meta.xml
force-app/main/default/objects/Event/fields/Description.field-meta.xml
force-app/main/default/objects/Event/fields/DurationInMinutes.field-meta.xml
force-app/main/default/objects/Event/fields/Email.field-meta.xml
force-app/main/default/objects/Event/fields/EndDateTime.field-meta.xml
force-app/main/default/objects/Event/fields/EventSubtype.field-meta.xml
force-app/main/default/objects/Event/fields/IsAllDayEvent.field-meta.xml
force-app/main/default/objects/Event/fields/IsPrivate.field-meta.xml
force-app/main/default/objects/Event/fields/IsRecurrence2.field-meta.xml
force-app/main/default/objects/Event/fields/IsReminderSet.field-meta.xml
force-app/main/default/objects/Event/fields/IsVisibleInSelfService.field-meta.xml
force-app/main/default/objects/Event/fields/Location.field-meta.xml
force-app/main/default/objects/Event/fields/OwnerId.field-meta.xml
force-app/main/default/objects/Event/fields/Phone.field-meta.xml
force-app/main/default/objects/Event/fields/ShowAs.field-meta.xml
force-app/main/default/objects/Event/fields/StartDateTime.field-meta.xml
force-app/main/default/objects/Event/fields/Subject.field-meta.xml
force-app/main/default/objects/Event/fields/Type.field-meta.xml
force-app/main/default/objects/Event/fields/WhatId.field-meta.xml
force-app/main/default/objects/Event/fields/WhoId.field-meta.xml
force-app/main/default/staticresources/SiteSamples/SiteStyles.css
force-app/main/default/staticresources/SiteSamples/img/warning.png
force-app/main/default/staticresources/SiteSamples/img/unauthorized.png
force-app/main/default/staticresources/SiteSamples/img/tools.png
force-app/main/default/staticresources/SiteSamples/img/poweredby.png
force-app/main/default/staticresources/SiteSamples/img/maintenance.png
force-app/main/default/staticresources/SiteSamples/img/force_logo.png
force-app/main/default/staticresources/SiteSamples/img/construction.png
force-app/main/default/staticresources/SiteSamples/img/clock.png
force-app/main/default/staticresources/SiteSamples.resource-meta.xml
force-app/main/default/pages/UnderConstruction.page-meta.xml
force-app/main/default/pages/UnderConstruction.page
force-app/main/default/pages/Unauthorized.page-meta.xml
force-app/main/default/pages/Unauthorized.page
force-app/main/default/pages/StdExceptionTemplate.page-meta.xml
force-app/main/default/pages/StdExceptionTemplate.page
force-app/main/default/pages/SiteTemplate.page-meta.xml
force-app/main/default/pages/SiteTemplate.page
force-app/main/default/pages/SiteRegisterConfirm.page-meta.xml
force-app/main/default/pages/SiteRegisterConfirm.page
force-app/main/default/pages/SiteRegister.page-meta.xml
force-app/main/default/pages/SiteRegister.page
force-app/main/default/pages/SiteLogin.page-meta.xml
force-app/main/default/pages/SiteLogin.page
force-app/main/default/pages/MyProfilePage.page-meta.xml
force-app/main/default/pages/MyProfilePage.page
force-app/main/default/pages/MicrobatchSelfReg.page-meta.xml
force-app/main/default/pages/MicrobatchSelfReg.page
force-app/main/default/pages/InMaintenance.page-meta.xml
force-app/main/default/pages/InMaintenance.page
force-app/main/default/pages/IdeasHome.page-meta.xml
force-app/main/default/pages/IdeasHome.page
force-app/main/default/pages/ForgotPasswordConfirm.page-meta.xml
force-app/main/default/pages/ForgotPasswordConfirm.page
force-app/main/default/pages/ForgotPassword.page-meta.xml
force-app/main/default/pages/ForgotPassword.page
force-app/main/default/pages/FileNotFound.page-meta.xml
force-app/main/default/pages/FileNotFound.page
force-app/main/default/pages/Exception.page-meta.xml
force-app/main/default/pages/Exception.page
force-app/main/default/pages/CommunitiesTemplate.page-meta.xml
force-app/main/default/pages/CommunitiesTemplate.page
force-app/main/default/pages/CommunitiesSelfRegConfirm.page-meta.xml
force-app/main/default/pages/CommunitiesSelfRegConfirm.page
force-app/main/default/pages/CommunitiesSelfReg.page-meta.xml
force-app/main/default/pages/CommunitiesSelfReg.page
force-app/main/default/pages/CommunitiesLogin.page-meta.xml
force-app/main/default/pages/CommunitiesLogin.page
force-app/main/default/pages/CommunitiesLanding.page-meta.xml
force-app/main/default/pages/CommunitiesLanding.page
force-app/main/default/pages/ChangePassword.page-meta.xml
force-app/main/default/pages/ChangePassword.page
force-app/main/default/pages/BandwidthExceeded.page-meta.xml
force-app/main/default/pages/BandwidthExceeded.page
force-app/main/default/pages/AnswersHome.page-meta.xml
force-app/main/default/pages/AnswersHome.page
force-app/main/default/classes/SiteRegisterControllerTest.cls-meta.xml
force-app/main/default/classes/SiteRegisterControllerTest.cls
force-app/main/default/classes/SiteRegisterController.cls-meta.xml
force-app/main/default/classes/SiteRegisterController.cls
force-app/main/default/classes/SiteLoginControllerTest.cls-meta.xml
force-app/main/default/classes/SiteLoginControllerTest.cls
force-app/main/default/classes/MicrobatchSelfRegControllerTest.cls-meta.xml
force-app/main/default/classes/MicrobatchSelfRegControllerTest.cls
force-app/main/default/classes/MicrobatchSelfRegController.cls-meta.xml
force-app/main/default/classes/MicrobatchSelfRegController.cls
force-app/main/default/classes/LightningSelfRegisterControllerTest.cls-meta.xml
force-app/main/default/classes/LightningSelfRegisterControllerTest.cls
force-app/main/default/classes/LightningSelfRegisterController.cls-meta.xml
force-app/main/default/classes/LightningSelfRegisterController.cls
force-app/main/default/classes/LightningLoginFormControllerTest.cls-meta.xml
force-app/main/default/classes/LightningLoginFormControllerTest.cls
force-app/main/default/classes/LightningLoginFormController.cls-meta.xml
force-app/main/default/classes/LightningLoginFormController.cls
force-app/main/default/classes/LightningForgotPasswordControllerTest.cls-meta.xml
force-app/main/default/classes/LightningForgotPasswordControllerTest.cls
force-app/main/default/classes/LightningForgotPasswordController.cls-meta.xml
force-app/main/default/classes/LightningForgotPasswordController.cls
force-app/main/default/classes/ForgotPasswordControllerTest.cls-meta.xml
force-app/main/default/classes/ForgotPasswordControllerTest.cls
force-app/main/default/classes/ForgotPasswordController.cls-meta.xml
force-app/main/default/classes/ForgotPasswordController.cls
force-app/main/default/classes/CommunitiesSelfRegControllerTest.cls-meta.xml
force-app/main/default/classes/CommunitiesSelfRegControllerTest.cls
force-app/main/default/classes/CommunitiesSelfRegController.cls-meta.xml
force-app/main/default/classes/CommunitiesSelfRegController.cls
force-app/main/default/classes/CommunitiesSelfRegConfirmControllerTest.cls-meta.xml
force-app/main/default/classes/CommunitiesSelfRegConfirmControllerTest.cls
force-app/main/default/classes/CommunitiesSelfRegConfirmController.cls-meta.xml
force-app/main/default/classes/CommunitiesSelfRegConfirmController.cls
force-app/main/default/classes/CommunitiesLoginControllerTest.cls-meta.xml
force-app/main/default/classes/CommunitiesLoginControllerTest.cls
force-app/main/default/classes/CommunitiesLoginController.cls-meta.xml
force-app/main/default/classes/CommunitiesLoginController.cls
manifest/package.xml
