# These owners will be the default owners for everything in

# the repo.

# @navikt/hot-crm and

# @navikt/team-crm-hot will be requested for

# review when someone opens a pull request.

@navikt/hot-crm
