.header:focus {
    outline: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sub-form > form {
    padding: 0 1rem;
}

.sub-form > form > slot {
    display: flex;
    flex-direction: row;
}

.header {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.5rem;
    margin: 0;
    font-family: Source Sans Pro, Arial, sans-serif;
    color: #262626;
}
.previousUsersBtn {
    all: unset;
    display: block;
    padding: 1rem;
    background-color: #ffeccc;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.previousUsersBtn:hover {
    background-color: #ffd799;
}

.previousUsersBtn:focus {
    outline: none;
    box-shadow: 0 0 0 4px #00347d;
}

.hidden {
    display: none;
}
.previous-users-dialog {
    padding: 0;
    border: none;
    background: transparent;
    width: auto;
    max-width: 600px;
    box-sizing: border-box;
}

.previous-users-dialog::backdrop {
    background: rgba(50, 65, 79, 0.8);
}

.previous-users-dialog .details-container {
    z-index: 1010;
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 4rem;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.previousUserContainer {
    all: unset;
    display: block;
    background-color: #ffeccc;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    text-align: left;
}

.previousUserContainer:hover {
    background-color: #ffd799;
}

.previousUserContainer:focus {
    outline: none;
    box-shadow: 0 0 0 4px #00347d;
}
@media (max-width: 768px) {
    .previous-users-dialog .details-container {
        padding: 2rem;
        max-width: calc(100% - 0.5rem);
        overflow-x: hidden;
    }
    .previous-users-dialog {
        padding: 0;
    }
}
