.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #00459c;
    /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.expensesSingle {
    padding-top: 0.5rem;
}
.skjema-max-width {
    width: 100%;
    max-width: 800px;
}
.loading-content {
    padding-top: 3rem;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-content {
    text-align: center;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    align-items: center;
}
.content {
    max-width: 1000px;
}
.claim-single {
    cursor: pointer;
    text-align: left;
    background-color: #efecf4;
    border: none;
    padding: 1.1rem;
    margin-top: 1rem;
    border-radius: 0.2rem;
    width: 90%;
}
.claim-single:hover {
    background-color: #e0d8e9;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cli-container {
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-top: 0.5rem;
    background-color: #e6f0ff;
    padding: 1rem;
}
.dialog {
    padding: 0;
    border: none;
    background: transparent;
    /* width: fit-content; */
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}

.dialog::backdrop {
    background: rgba(50, 65, 79, 0.8);
}

.details-container {
    all: unset;
    z-index: 1010;
    position: relative;
    display: block;
    flex-grow: 0;
    width: 100%;
    max-width: 1000px;
    height: auto;
    max-height: 100vh;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 5.5rem;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
}
.hidden {
    display: none;
}

.buttons {
    padding-top: 1rem;
    text-align: center;
}
.button {
    display: inline-block;
    margin-right: 1rem;
}
@media (max-width: 768px) {
    .claim-single {
        width: 100%;
        padding: 0.75rem;
    }
    .dialog {
        height: 100%;
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .details-container {
        display: block;
        /* overflow: hidden; */
        max-height: 100%;
        z-index: 1010;
        width: 100vw;
        padding: 2rem;
        overflow-y: auto;
    }
    .container {
        display: block;
        align-items: center;
    }
    .content {
        width: 100%;
    }
}
.filterContainer {
    padding: 1rem;
    width: 100%;
}
.status {
    padding: 0.2rem;
    display: inline;
    border-radius: 5px;
}
.yellow {
    background-color: #ffd799;
    border: 1px solid #ffaa33;
}
.red {
    background-color: #f68282;
    border: 1px solid #de2e2e;
}
.green {
    background-color: #99dead;
    border: 1px solid #33aa5f;
}
.navno-dekorator.alertstripe {
    display: block;
    padding: 1rem 1rem 1rem 0rem;
    border-radius: 4px;
    display: flex;
    align-content: center;
    border-radius: 0.25rem;
    color: #3e3832;
    max-width: 100%;
}

.navno-dekorator.alertstripe--advarsel {
    border: 1px solid #ff9100;
    background-color: #ffe9cc;
    margin-bottom: 0.2rem;
}
.navno-dekorator.alertstripe__ikon {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    display: flex;
    top: 1rem;
    flex-shrink: 0;
    height: 24px;
    width: 24px;
}
