.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #00459c;
    /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.skjema-max-width {
    width: 100%;
    max-width: 800px;
}
.loading-content {
    padding-top: 3rem;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-content {
    text-align: center;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    align-items: center;
}
.content {
    width: 60%;
}
.claim-single {
    text-align: left;

    background-color: #ccf1d6;
    border: none;
    /* border-bottom: 1px solid black; */
    padding: 1.1rem;
    margin-top: 1rem;
    border-radius: 0.2rem;
    width: 90%;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cli-container {
    padding: 0.5rem;
    border-radius: 0.2rem;
    /* border: 1px solid black; */
    margin-top: 0.5rem;
    background-color: #cce2f0;
    padding: 1rem;
}

.details-container {
    all: unset;
    background-color: #fff;
    display: block;
    padding: 5rem;
    border-radius: 4px;
    position: relative;
    flex-grow: 0;
    overflow-x: auto;
    max-height: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    z-index: 1010;
    max-width: 432px;
    max-height: 75%;
    width: 100%;
}
.hidden {
    display: none;
}
p {
    font-size: 1.1rem;
}
.buttons {
    padding-top: 1rem;
    text-align: center;
}
.button {
    display: inline-block;
    margin-right: 1rem;
}
@media (max-width: 576px) {
    .claim-single {
        width: 100%;
        padding: 0.75rem;
    }
    .details-container {
        display: block;
        overflow: hidden;
        max-height: 100%;
        z-index: 1010;
        width: 100vw;
        padding: 2rem;
    }
    .container {
        display: block;
        align-items: center;
    }
    .content {
        width: 100%;
    }
}
