.navds-button {
    cursor: pointer;
    background-color: #e6f0ff;
    border-radius: 25px;
    border: 1px solid #c0c9cc;
    padding: 0.2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: inline-flex;
    margin: 0.2rem;
}

.navds-button:hover {
    background-color: #99c3ff;
    border-color: #99c3ff;
}
.active {
    background-color: #99c3ff;
    border-color: #99c3ff;
}

button,
[type='button'] {
    -webkit-appearance: button;
}
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
