.hot-button {
    cursor: pointer;
    background-color: #e6f0ff;
    border-radius: 25px;
    border: 1px solid #c0c9cc;
    padding: 0.2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: inline-flex;
    margin: 0.2rem;
    font-size: medium;
}

.hot-button:hover {
    background-color: #99c3ff;
    border-color: #99c3ff;
}
.hot-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px #00347d;
}
.active {
    background-color: #99c3ff;
    border-color: #99c3ff;
}

button,
[type='button'] {
    -webkit-appearance: button;
}
