.main-content {
    padding-left: 2rem;
}
p,
ul {
    font-size: large;
    max-width: 600px;
    word-wrap: break-word;
}
ul {
    padding-left: 2rem;
    list-style: disc;
}
h2 {
    font-size: x-large;
}
.back-link {
    display: flex;
    text-decoration: none;
    max-width: fit-content;
}
.back-link-div {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-left: 2rem;
}
.back-link:hover {
    text-decoration: underline;
}
