.listClass {
    padding: 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #cce1ff;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.travelTimesToInputContainer {
    padding-bottom: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.travelTimesFromInputContainer {
    padding-bottom: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.travelTimesRadioButtonContainer {
    width: 100%;
    padding-top: 1rem;
}

@media only screen and (max-device-width: 768px) {
    .listClass {
        align-items: start;
        padding-bottom: 1vw;
        display: flex;
        flex-direction: column;
    }
}
.header {
    font-size: 1.3rem;
    letter-spacing: 0;
    line-height: 1.3rem;
    margin: 0;
    font-family: Source Sans Pro, Arial, sans-serif;
    color: #262626;
}
.header:focus {
    outline: none;
}
.addTravelMinutesFromButtonContainer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.addTravelMinutesToButtonContainer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.addMinutesButton {
    margin-right: 0.3vw;
}

.addMinutesButton:last-child {
    margin-right: 0;
}
@media only screen and (max-device-width: 768px) {
    .addMinutesButton {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}
.hidden {
    display: none;
}
