.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #00459c;
    /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}
.confirmationCheckbox {
    background-color: #FFE8C0;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: left;
    padding: 1rem;
    border: 1px solid #C34600;
    border-radius: 5px;
}

/* Dialog modal */
dialog.modal-container {
    z-index: 10001;
    background: white;
    border-radius: 0.5rem;
    max-width: 40rem;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

    padding: 0;
    border: none;
    display: none;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/* Når dialogen er åpen */
dialog[open].modal-container {
    display: flex;
}
dialog.modal-container .modal-header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
}
dialog.modal-container .modal-body {
    padding: 0 2rem 2rem;
}
dialog.modal-container .modal-footer {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
}
dialog.modal-container .close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 4px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

dialog.modal-container .close-btn:focus {
    border-color: #0067c5;
    outline: none;
}

dialog.modal-container .close-btn:hover {
    background-color: #e1e3e6;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10000;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.brodsmulesti {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
}

.skjema-max-width {
    width: 100%;
    max-width: 800px;
}

div.skjema {
    margin-bottom: 3.5rem;
    border-radius: 0.5rem;
    padding: 0 2rem;
    background-color: #fff;
}

@media (max-width: 768px) {
    div.skjema {
        margin: 0;
        padding: 0;
    }

    .content-form {
        max-width: 100%;
        margin: auto;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        padding: 0.5rem;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    }

    .dynamic-time-inputs-with-line_button {
        grid-template-columns: 85% 15%;
    }
    .dynamic-time-inputs {
        grid-template-columns: none;
        grid-template-rows: 50% 50%;
    }
    .remove-time__button {
        bottom: 15%;
    }

    dialog.modal-container {
        width: 100%;
        max-width: 100%;
        height: 100vh;
        max-height: 100vh;
        border-radius: 0;
        padding: 0.5rem;
        top: 0;
        left: 0;
        transform: none;
    }
    dialog.modal-container .close-btn {
        background-color: #e0e3e6;
    }

    dialog.modal-container .modal-header,
    dialog.modal-container .modal-body,
    dialog.modal-container .modal-footer {
        padding: 0.5rem;
    }
}

section.sub-form:last-child {
    margin-bottom: 4rem;
}

.filter-list-checkbox {
    width: 100%;
}
.content-form {
    max-width: 1000px;
    margin: auto;
    margin-top: 1.5rem;
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.main-content {
    padding-top: 3rem;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button-container {
    text-align: center;
    max-width: 792px;
    padding: 3rem 2rem 0rem 2rem;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.back-button {
    color: #0067c5;
    text-decoration: underline;
    text-decoration-color: #0067c5;
}

.back-button:hover {
    color: #3385d1;
}

.dynamic-time-inputs-with-line_button {
    display: grid;
    grid-template-columns: 95% 5%;
}

.dynamic-time-inputs {
    display: grid;
    grid-template-columns: 32% 64%;
    grid-column-gap: 4%;
}

.remove-time__button {
    display: flex;
    justify-content: center;
    bottom: -20%;
    position: relative;
}

.dynamic-time-inputs__times {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-column-gap: 6.25%;
}

.sub-form > form {
    padding: 0 1rem;
}

.sub-form > form > slot {
    display: flex;
    flex-direction: row;
}

.hidden {
    display: none;
}

.button-standard {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Source Sans Pro, Arial, sans-serif;
    font-size: 1em;
    white-space: nowrap;
    border-radius: 0.125em;
    cursor: pointer;
    user-select: none;
    letter-spacing: 0.0625em;
    line-height: 1.375rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fff;
    padding: calc(0.475rem - 1px) 2.5rem calc(0.525rem - 1px);
    min-height: 2.5rem;
    vertical-align: middle;
    border: 2px solid #0067c5;
    color: #0067c5;
    outline: var(--outline);
    box-shadow: var(--boxShadow);
}

.button-standard:hover {
    background-color: #0067c5;
    color: #fff;
}

.navds-button {
    cursor: pointer;
    color: #ba3a26;
    text-align: center;
    text-decoration: none;
    align-items: center;
    padding: 0;
    font-weight: bold;
    border-color: transparent;
    background-color: transparent;
}

.navds-button--secondary:hover {
    opacity: 0.7;
}
.navno-dekorator.warningstripe {
    display: block;
    padding: 1rem 1rem 1rem 0rem;
    border-radius: 4px;
    display: flex;
    align-content: center;
    border-radius: 0.25rem;
    color: #3e3832;
}
.navno-dekorator.warningstripe--advarsel {
    border: 1px solid #c30000;
    background-color: #ffe6e6;
}
.navno-dekorator.warningstripe__ikon {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    display: flex;
    top: 1rem;
    flex-shrink: 0;
    height: 24px;
    width: 24px;
}
